.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  color: #212121b2;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #212121;
  opacity: 70%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: flex;
  gap: 8px;
  width: fit-content;
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  padding: 0;
  color: #fff;
  background-color: #212122;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
}

.profile__add-btn:hover {
  background-color: #212121cc;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    text-align: center;
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-btn {
    justify-content: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    max-width: 288px;
  }
}
